[submodule "tetrix-contract/lib/forge-std"]
	path = tetrix-contract/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tetrix-contract/lib/openzeppelin-contracts"]
	path = tetrix-contract/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
